name: "Build TWRP"

on:
  workflow_dispatch:
    inputs:
      MANIFEST_URL:
        description: 'MANIFEST_URL'
        required: true
        default: 'https://github.com/SHRP/platform_manifest_twrp_omni'
      MANIFEST_BRANCH:
        description: 'MANIFEST_BRANCH'
        required: true
        default: 'v3_11.0'
      DT_URL:
        description: 'DT_URL'
        required: true
        default: 'https://github.com/PPKunOfficial/DeviceTree-Dipper.git'
      DT_BRANCH:
        description: 'DT_BRANCH'
        required: true
        default: 'main'
      DC_PATH:
        description: 'DC_PATH'
        required: true
        default: 'device/xiaomi/dipper'
      DC_NAME:
        description: 'DC_NAME'
        required: true
        default: 'dipper'
      MAKEFILE_NAME:
        description: 'MAKEFILE_NAME'
        required: true
        default: 'omni_dipper'

jobs:
  twrp:
    name: 编译TWRP
    runs-on: ubuntu-latest
    steps:
    - name: 准备环境
      run: |
        sudo apt update
        sudo apt install bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev git
        
    - name: 安装repo
      run: |
        mkdir -p ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        sudo cp ~/bin/repo /bin/repo
        sudo chmod a+x /bin/repo
        mkdir rec
        cd ${{ github.workspace }}/rec
        repo init --depth=1 -u ${{ github.event.inputs.MANIFEST_URL }} -b ${{ github.event.inputs.MANIFEST_BRANCH }}

    - name: 拉取源码
      run: |
        PATH=~/bin:$PATH
        cd ${{ github.workspace }}/rec
        repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags
        ls -al
      id: pwd

    - name: 拉取设备树
      run: |
        PATH=~/bin:$PATH
        cd ${{ steps.pwd.outputs.pwd }}
        git clone ${{ github.event.inputs.DT_URL }} -b ${{ github.event.inputs.DT_BRANCH }}

    - name: 开始编译
      run: |
        PATH=~/bin:$PATH
        cd ${{ steps.pwd.outputs.pwd }}
        export ALLOW_MISSING_DEPENDENCIES=true
        . build/envsetup.sh
        lunch ${{ github.event.inputs.MAKEFILE_NAME }}-eng
        mka recoveryimage -j$(nproc --all)
    
    - name: 发布到Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "${{ github.run_id }}"
        prerelease: false
        title: Release ${{ github.run_id }}
        files: |
          ${{ github.workspace }}/twrp/out/target/product/${{ github.event.inputs.DC_PATH }}/*.zip
          ${{ github.workspace }}/twrp/out/target/product/${{ github.event.inputs.DC_PATH }}/recovery.img
          ${{ github.workspace }}/twrp/out/target/product/${{ github.event.inputs.DC_PATH }}/*.cpio