name: "Build TWRP"

on:
  workflow_dispatch:
    inputs:
      TWRP_RES:
        description: 'TWRP_RES'
        required: true
        default: 'https://github.com/SHRP/platform_manifest_twrp_omni.git'
      TWRP_BRANCH:
        description: 'TWRP_BRANCH'
        required: true
        default: 'twrp-11.0'
      DT_RES:
        description: 'DT_RES'
        required: true
        default: 'https://github.com/PPKunOfficial/DeviceTree-Dipper.git'
      DT_BRANCH:
        description: 'DT_BRANCH'
        required: true
        default: 'main'
      DC_NAME:
        description: 'DEVICE_NAME'
        required: true
        default: 'device/xiaomi/dipper'
      DC_N:
        description: 'DEVICE_NAME1'
        required: true
        default: 'dipper'

jobs:
  twrp:
    name: 编译TWRP
    runs-on: ubuntu-latest
    steps:
    - name: 准备环境
      run: |
        sudo apt update
        sudo apt install bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev git
        
    - name: 安装repo
      run: |
        mkdir -p ~/bin
        curl https://mirrors.tuna.tsinghua.edu.cn/git/git-repo > ~/bin/repo
        sudo cp ~/bin/repo /bin/repo
        sudo chmod a+x /bin/repo
        export REPO_URL='https://mirrors.tuna.tsinghua.edu.cn/git/git-repo'

    - name: 拉取源码
      run: |
        mkdir twrp
        cd ${{ github.workspace }}/twrp
        git config --global user.name "Actions BOT"
        git config --global user.email "actions@github.com"
        repo init --depth=1 -u ${{ github.event.inputs.TWRP_RES }} -b ${{ github.event.inputs.TWRP_BRANCH }}
        repo sync -j$(nproc --all)

    - name: 拉取设备树
      run: |
        cd ${{ github.workspace }}/twrp
        git clone ${{ github.event.inputs.DT_RES }} ${{ github.event.inputs.DC_NAME }} -b ${{ github.event.inputs.DT_BRANCH }}

    - name: 开始编译
      run: |
        cd ${{ github.workspace }}/twrp
        source build/envsetup.sh
        export ALLOW_MISSING_DEPENDENCIES=true
        export LC_ALL="C"
        lunch omni_${{ github.event.inputs.DC_N }}-eng
        make clean
        make recoveryimage -j$(nproc --all)
    
    - name: 发布到Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "${{ github.run_id }}"
        prerelease: false
        title: Release ${{ github.run_id }}
        files: |
          ${{ github.workspace }}/twrp/out/target/product/${{ github.event.inputs.DEVICE_NAME }}/*.zip
          ${{ github.workspace }}/twrp/out/target/product/${{ github.event.inputs.DEVICE_NAME }}/recovery.img
          ${{ github.workspace }}/twrp/out/target/product/${{ github.event.inputs.DEVICE_NAME }}/*.cpio